body {
    margin: 0;
    padding: 0;
}
.container {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #fff;
    width: 100%;
    overflow: hidden;
}
.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    position: relative;
}
.logo {
    height: 38px;
    width: 300px;
    display: inline-block;
    vertical-align: middle;
}
h1 {
    font-size: 69px;
    font-family: 'Roboto', sans-serif;
    line-height: 95px;
    margin: 0;
}
h2 {
    font-size: 55px;
    margin-bottom: 25px;
    margin-top: 15px;
    z-index: 1;
    position: relative;
    padding-left: 25px;
}
.rur {
    height: 25px;
}
.header {
    padding: 40px 0;
}
.social,
.copyright {
    float: right;
    display: inline-block;
    vertical-align: middle;
    line-height: 38px;
}
.social {
    margin-top: 5px;
}
.social a {
    text-decoration: none;
    cursor: pointer;
}
.social a img {
    width: 30px;
    height: 30px;
    padding-left: 30px;
}



.main {
    min-height: 4100px;
    /* background-color: #8424FF; */
    /* background-color: red; */
    /* background-image: linear-gradient(to right, #FF7223 0%, #8424FF 100%); */
    width: 100%;
    font-size: 0;
    position: relative;
    z-index: 3;
}
.main__back {
    height: 4100px;
    /* background-image: linear-gradient(to right, #FF7223 0%, #8424FF 100%); */
    background-image: url(img/back.svg);
    background-size: contain;
    position: absolute;
    left: 0;
    width: 200%;
}
.left-back {
    background-image: url(img/left.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 991px;
    width: 728px;
    left: 2px;
    top: -119px;
}
.left-back-man {
    position: absolute;
    height: 473px;
    width: 263px;
    left: 200px;
    top: 350px;
}
.right-back-man {
    position: absolute;
    height: 473px;
    width: 263px;
    right: 80px;
    top: 204px;
    z-index: 4;
}
.right-back {
    background-image: url(img/right.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 994px;
    width: 728px;
    right: 3px;
    top: 0;
}
.car {
    position: relative;
}
.car img {
    width: 998px;
    height: 660px;
    position: absolute;
    top: -520px;
    left: 318px;
}
.rim {
    position: absolute;
    background-image: url(img/rim.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 95px;
    height: 95px;
}
.rim-1 {
    left: 528px;
    top: -125px;
}
.rim-2 {
    right: -139px;
    top: -125px;
}
.main__head {
    height: 635px;
}
.main__head_left {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    width: 660px;
}
.main__head_left .text-title {
    padding-top: 48px;
    margin: 0;
}
.head-button {
    text-decoration: none;
    font-size: 34px;
    font-family: 'Roboto', sans-serif;
}
.head-button div {
    border: 2px solid #FFC700;
    color: #FFC700;
    margin-top: 30px;
    height: 85px;
    line-height: 85px;
    width: 265px; 
    padding: 0 25px;
}
.head-button div:hover,
.button:hover {
    border: 2px solid #fff;
    color: #fff;
}

.text-head {
    padding-top: 0;
    font-size: 34px;
}
.main__head_right {
    display: inline-block;
    vertical-align: top;
    width: 380px;
}
.main__content_left {
    display: inline-block;
    vertical-align: top;
    width: 500px;
    margin-top: 130px;
}
.main__content_right {
    display: inline-block;
    vertical-align: top;
    width: 500px;
}
.main__content_block-text {
    font-size: 24px;
    width: 486px;
    line-height: 41px;
    min-height: 370px;
    z-index: 2;
    position: relative;
}
.main__content_right .main__content_block-text {
    width: 400px;
    padding-left: 80px;
}
.scroll-ico {
    text-align: center;
    margin-bottom: 50px;
}
.main-title {
    font-size: 48px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.text-title {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.button {
    position: relative;
    padding: 0 67px 0 67px;
    height: 60px;
    line-height: 55px;
    border-radius: 100px;
    background-color: transparent;
    border: 2px solid #FFC700;
    color: #FFC700;
    font-size: 21px;
    font-weight: bold;
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
.svg {
    padding-left: 5px;
}
.main__content_block-img {
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.img-family img {
    position: relative;
    z-index: 1;
    width: 618px;
    height: 694px;
    margin-left: -45px;
    margin-top: 20px;
    margin-bottom: 115px;
}
.img-man img {
    position: relative;
    width: 362px;
    height: 751px;
    margin-left: 140px;
    margin-bottom: 40px;
    z-index: 1;
}

.img-couple img {
    position: relative;
    z-index: 1;
    width: 500px;
    margin-top: 50px;
    margin-left: 90px;
}

.main__content_bottom {
    text-align: center;
}
.bottom-text-title {
    font-size: 48px;
}
.text {
    font-size: 24px;
}
.promo {
    font-size: 34px;
    color: #3A3A3A;
    width: 100%;
    height: 500px;
    margin: auto;
    text-align: center;
    background-color: #fff;
    margin-top: 90px;
    border-radius: 10px;
}
.bottom-title {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 50px;
    padding-top: 70px;
}
.bottom-text-title {
    margin-bottom: 30px;
}
.bottom-text-2 {
    position: relative;
}
.bottom-text-2:before {
    content: '';
    width: 274px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 18px;
}
.bottom-text-2:after {
    content: '';
    width: 254px;
    right: 0;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 18px;
}

.bottom-text-3 {
    font-size: 48px;
    line-height: 56px;
    padding: 50px 0;
}
.bottom-text-4 {
    width: 814px;
    text-align: left;
    margin: auto;
    line-height: 42px;
}
.bottom-text-4 span {
    font-family: 'Roboto', sans-serif;
}
.line {
    height: 2px;
    border-bottom: 2px solid #fff;
    margin-bottom: 110px;
}
.promo-wrapper {
    max-width: 670px;
    margin: auto;
}
.bottom_app a {
    text-decoration: none;
}
.bottom_app a:hover,
.bottom_app a:active {
    opacity: 0.5;
}
.bottom_app_google img,
.bottom_app_apple img {
    width: 252px;
    height: 87px;
    margin-top: 80px;
}

.bottom_app_google {
    margin-left: 35px;
}
.phone-container {
    font-size: 0;
    position: relative;
 }
.error {
    color: #FFC700;
    font-size: 18px;
}
label#ph-error {
    position: absolute;
    top: -30px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.phone {
    display: inline-block;
    vertical-align: top;
    border: 0;
    width: 405px;
    height: 64px;
    padding: 0 0 0 30px;
    margin: 10px 0 0px 0;
    font-size: 20px;
    background-color: #F2F0F0;
    cursor: pointer;
}
.phone-button {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    vertical-align: top;
    border: 0;
    width: 235px;
    margin: 10px 0 0px 0;
    color: #fff;
    background-color: #46AFFB;
    font-size: 17px;
    cursor: pointer;
    opacity: 0.9;
    height: 64px;
    padding: 0;
}
.phone-button:hover{
    background-color: #FFC700;
}
.phone-button:focus {
    outline: none;
} 
.phone:focus {
    outline: none;
} 
.block-4 .phone {
    border: 0;
}
.block-4 .phone {
    height: 60px;
}
#modal {
    width: 100%; 
    height: 172px; 
    background-color: #FFFFFF; 
    margin: auto;
    text-align: center;
    padding: 50px 0;
}
#modal .block-1-left_logo {
    margin: auto;
}
.modals {
    display: none;
    position: fixed;
    width: 700px;
    left: 50%;
    top: 50%;
    z-index: 20;
}
.video-modal1,
.video-modal2,
.video-modal3 {
    display: none;
    position: fixed;
    width: 1010px;
    height: 600px;
    left: 50%;
    top: 50%;
    z-index: 4;
}
.video-modal1_content,
.video-modal2_content,
.video-modal3_content {
    transform: translate(-50%, -50%);
    z-index: 3;
    position: relative;
    background-image: url(img/video.png);
    background-size: contain;
    width: 1010px;
    height: 600px;
}
.close {
    position: absolute;
    right: 0;
    top: -33px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;

}
.video-modal1_overlay,
.video-modal2_overlay,
.video-modal3_overlay {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.modals.show{
    display: block;
}
.modals__content {
    transform: translate(-50%, -50%);
    z-index: 10;
    position: relative;
}
.modals__overlay {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.modal-text {
    font-size: 22px;
    color: #737373;
    width: 420px;
    margin: auto;
    margin-top: 50px;
    line-height: 1.52;
}
.modals .close {
    position: absolute;
    right: 21px;
    top: 21px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
}
.modals .close:before, .modals .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 48px;
    width: 2px;
    background-color: #333;
}
.modals .close:before {
    transform: rotate(45deg);
}
.modals .close:after {
    transform: rotate(-45deg);
}



.footer {
    padding: 75px 0;
    color: #cacaca;
    font-size: 14px;
}

